




.body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.chat-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  padding: 15px;
  background-color: blue;
  color: white;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-messages {
  padding: 15px;
  height: auto;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  margin-top: 1rem;
}

.chat-messages .message {
  margin-bottom: 10px;
}

.chat-messages .message.bot {
    color: #444;
    background: #E8F6FF;
    padding: 1rem;
    display: table;
}
.chat-messages .header{
  background: #E8F6FF;
}
.chat-messages .listing{
  color: #444;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: table;
}
.chat-messages .selector{
  width: 50%;
}
.chat-messages .listing{
  width: 50%;
  text-align: center;
}
.chat-messages .message.user {
  text-align: right;
  color: green;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.chat-input button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.chat-input button:hover {
  background-color: #0056b3;
}
.stocks-message{
  padding: 1rem;
    background: #ccc;
    float: right;
    border-radius: 1rem;
}

.result-block{
  display: block;
  height: 67px;
}